*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    background:#ffffff;
    color:#000;
    width:100%;
    max-width:800px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:10px;
}

p{
    margin-bottom:10px;
}

textarea{
    width:100%;
    height:250px;
    padding:15px;
    border:2px solid #2563eb;
    border-radius:10px;
    resize:none;
    margin-top:10px;
}

button{
    width:100%;
    padding:15px;
    margin-top:15px;
    border:none;
    background:#2563eb;
    color:white;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.result{
    margin-top:25px;
    padding:20px;
    border-radius:10px;
    background:#f3f4f6;
}

.result h2{
    color:#2563eb;
    margin-bottom:10px;
}

ul{
    margin-left:20px;
}
.progress{
    width:100%;
    height:25px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin:10px 0;
}

#progressBar{
    height:100%;
    width:0%;
    background:#22c55e;
}
.score-red{
    color:red;
    font-weight:bold;
}

.score-orange{
    color:orange;
    font-weight:bold;
}

.score-green{
    color:green;
    font-weight:bold;
}
